.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}
/* STAFF PAGE CSS*/

.button {
  color: #791414 !important;
  border-color: #791414 !important;
}

.button.button-margin-right {
  margin-right: 20px;
}

/* REGISTER USER PAGE CSS */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.registerUserPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px; 
  border-radius: 5px;
}

.formContainer #inputRegisterUser {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #791414;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #791414;
  color: #791414;
}

msg {
  color: red;
}