* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}
/* STAFF PAGE CSS*/

.button {
  color: #791414 !important;
  border-color: #791414 !important;
}

.button.button-margin-right {
  margin-right: 20px;
}

/* REGISTER USER PAGE CSS */

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerUserPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
}

.formContainer #inputRegisterUser {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #791414;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #791414;
  color: #791414;
}

.button-container {
  display: flex;
  justify-content: center;
}

msg {
  color: red;
}

/* QR CODE PAGE CSS */

.qrCodePage {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.qrTitle {
  font-size: 36px;
  font-weight: 500;
  margin: 10px;
  color: #fff;
}

.qrForm {
  background-color: #2f3542;
  color: #333;
  width: 500px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.qrInput {
  align-self: center;
  height: 40px;
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.qrButton {
  height: 40px;
  width: 30%;
  align-self: center;
  background-color: #791414 !important;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}

.qrButton:hover {
  cursor: pointer;
  background-color: #ffffff !important;
  border: 2px solid #791414;
  color: #791414;
}

.qrCodeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.qrError {
  color: #fc0303;
  margin-bottom: 20px;
  font-size: 20px;
  border: 1px solid #fc0303;
  border-radius: 5px;
  padding: 5px;
}

.qrPrintButton{
  height: 40px;
  width: 80px;
  align-self: center;
  margin-top: 20px;
  background-color: #ffffff !important;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
}

// ATTENDANCE PAGE CSS

.dataGridContainer {
  width: 100vw;
  overflow-x: auto;
}